aiohttp==3.7.4
aiohttp-socks==0.5.3
aiorpcX==0.18.5
apparmor==2.13.6
asn1crypto==1.4.0
astroid==2.6.6
async-timeout==3.0.1
attrs==20.3.0
autopep8==1.5.7
beautifulsoup4==4.9.3
bitstring==3.1.7
blinker==1.4
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.4
configobj==5.0.6
cryptography==3.3.2
cupshelpers==1.0
dbus-python==1.2.16
distro==1.5.0
distro-info==1.0
dnspython==2.0.0
Electrum==4.0.9
et-xmlfile==1.1.0
Flask==1.1.2
Flask-HTTPAuth==3.2.4
Flask-SQLAlchemy==2.5.1
gpg===1.14.0-unknown
greenlet==1.1.1
gunicorn==20.1.0
helpdev==0.7.1
html5lib==1.1
httplib2==0.18.1
idna==2.5
imutils==0.5.4
isort==5.9.3
itsdangerous==1.1.0
Jinja2==2.11.3
kazam==1.4.5
lazy-object-proxy==1.6.0
LibAppArmor==2.13.6
lxml==4.6.3
MarkupSafe==1.1.1
mate-menu==20.4.1
mate-tweak==21.4.2
mccabe==0.6.1
mechanize==0.4.5
menulibre==2.2.1
mock==4.0.3
msgpack==1.0.0
multidict==5.1.0
mutagen==1.45.1
mysql-connector-python==8.0.25
netifaces==0.10.9
numpy==1.20.3
nyx==2.1.0
olefile==0.46
onboard==1.4.1
onioncircuits==0.7
onionshare==2.2
opencv-contrib-python==4.5.2.52
opencv-python==4.5.2.52
openpyxl==3.0.7
packaging==20.9
pandas==1.2.4
pbr==5.5.0
Pillow==8.2.0
protobuf==3.12.4
psutil==5.8.0
pycairo==1.16.2
pycodestyle==2.7.0
pycountry==20.7.3
pycryptodomex==3.9.7
pycups==2.0.1
pycurl==7.43.0.6
Pygments==2.7.1
PyGObject==3.38.0
pyinotify==0.9.6
pylint==2.9.6
pynvim==0.4.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
PySimpleSOAP==1.16.2
pysmbc==1.0.23
PySocks==1.7.1
python-apt==2.2.0
python-dateutil==2.8.1
python-debian==0.1.39
python-debianbts==3.1.0
python-xapp==2.0.2
python-xlib==0.29
pytz==2021.1
pyxattr==0.7.2
pyxdg==0.27
QDarkStyle==2.8.1
qrcode==6.1
QtPy==1.9.0
reportbug==7.10.3
requests==2.25.1
requests-toolbelt==0.9.1
requests2==2.16.0
selenium==3.141.0
setproctitle==1.2.1
simplejson==3.17.2
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==1.4.22
stem==1.8.0
terminator==2.1.0
toml==0.10.2
torbrowser-launcher==0.3.3
typing-extensions==3.7.4.3
ufw==0.36
unattended-upgrades==0.1
urllib3==1.21.1
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
xdg==5
yarl==1.6.3
youtube-dl==2021.2.10
